<a href="https://colab.research.google.com/github/Klim2007/modeling/blob/main/LinerRegWallMartSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib as plt
from datetime import datetime
from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV
from sklearn.linear_model import LogisticRegression
import plotly.express as px

DATA PREPROCESSING

In [18]:
df = pd.read_csv('/content/walmart-sales-dataset-of-45stores.csv', parse_dates=['Date'])

In [19]:
df

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,2012-09-28,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,2012-05-10,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,2012-12-10,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,2012-10-19,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,2012-10-26,760281.43,0,58.85,3.882,192.308899,8.667

In [20]:
training_data = df.sample(frac=0.8, random_state=25)
testing_data = df.drop(training_data.index)

In [21]:
training_data.dtypes

Store                    int64
Date            datetime64[ns]
Weekly_Sales           float64
Holiday_Flag             int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
dtype: object

Understanding dependancies

Store Checkout: 
- weekly sales by stores
  regular and on hollydays
- employment regular and hollydays

In [ ]:
store_sales_hollidays = tr
store_sales_hollidays = training_data['Store'].groupby.Weekly_Sales
fig = px.bar(store_sales, x="Store", y="Weekly_Sales", color="smoker", height=400, width=600)
fig

Prediction of sales in hollidays
model = LinearRegression
model.fit(x,y)

Managing the Steps of Supply Chain: 
 - dependancies between fuel price and sales